@import "../../styles/common.scss";
@import "../../styles/variables.scss";

.login-page {
  padding-top: 3.06rem;

  @media (min-width: $desktop) {
    padding-top: 5.13rem;;
  }

  .title-multi {
    margin-left: 2.08rem;
    margin-bottom: 6.75rem;
    color: #000;

    span {
      display: block;
      font-size: 2rem;
      &:first-child {
        color: $base-color;
      }
      &:last-child {
        margin-left: 5.06rem;
        font-size: 1.5rem;
      }
    }

    @media (min-width: $desktop) {
      margin-left: 13.75rem;
      margin-bottom: 9.25rem;
    }
  }

  .input-text {
    font-size: 0.875rem;
    width: 14.375rem;
    margin-left: 5.88rem;
    margin-bottom: 4.69rem;
    gap: 1.94rem;

    @media (min-width: $tablet) and (max-width: $desktop) {
      margin-left: 16.69rem;
    }

    @media (min-width: $desktop) {
      margin-left: 20.31rem;
    }

    input {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 0.08rem solid #afafaf;
      background-color: white;

      &:first-child {
        margin-bottom: 1.94rem;
      }
    }
  }

  .btn-login {
    margin-left: 5rem;
    width: 16.125rem;
    height: 4rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 200;
    border: none;
    border-radius: 0.625rem;
    background: linear-gradient(180deg, #1e1e1e 0%, #424242 100%);

    @media (min-width: $tablet) and (max-width: $desktop) {
      margin-left: 16.69rem;
    }

    @media (min-width: $desktop) {
      margin-left: 19.44rem;
    }
  }

  .bg-image {
    z-index: -1;

    @media (max-width: $tablet) {
      overflow-x: hidden;
      overflow-y: auto;
      margin-top: 4.69rem;

      img {
        transform: scaleX(-1) translateX(9rem);
      }
    }

    @media (min-width: $tablet) and (max-width: $desktop) {
      position: absolute;
      // right: -16.5rem;
      right: 0;
      top: -0.62rem;
    }

    @media (min-width: $desktop) {
      position: absolute;
      right: -14rem;
      bottom: -15.62rem;
      transform: scaleX(-1);
    }
  }
}
