@import '@/styles/variables.scss';

.caroussel {
  display: flex;
  gap: 1.03rem;
  margin-top: 4.13rem;

  @media (min-width: $tablet) {
    margin-top: 11.19rem;
    margin: 0;
  }

  @media (min-width: $desktop) {
    gap: 0;
    align-items: flex-end;
  }
}
