@import "./variables.scss";

.container-flex-v {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.logo-center {
  align-self: center;
  margin-bottom: 8.37rem;
}

.image-box {
  img {
    height: 100%;
    width: 100%;
  }
}

.title-multi {
  margin-left: 2.08rem;
  margin-bottom: 6.75rem;
  color: #000;

  span {
    display: block;
    &:first-child {
      color: $base-color;
      font-size: 2rem;
    }
    &:last-child {
      margin-left: 5.06rem;
      font-size: 1.5rem;
    }
  }
}

.error-field {
  color: #f00;
}
