@import "./variables.scss";

.container-flex-v {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.image-box {
  img {
    height: 100%;
    width: 100%;
  }
}

.error-field {
  color: #f00;
  font-weight: 400;
  input {
    border-bottom-color: #f00 !important;
  }
}

.slide-bottom {
  @media (min-width: $desktop) {
    animation: slideInFromBottom 2s ease-out forwards;
  }
}

.slide-bottom-x2 {
  @media (min-width: $desktop) {
    animation: slideInFromBottomTimes2 2s ease-out forwards;
  }
}

.slide-top {
  @media (min-width: $desktop) {
    animation: slideInFromTop 2s ease-out forwards;
  }
}
.slide-left {
  @media (min-width: $desktop) {
    animation: slideInFromLeft 2s ease-out forwards;
  }
}
.slide-right {
  @media (min-width: $desktop) {
    animation: slideInFromRight 2s ease-out forwards;
  }
}

.fixed-appear {
  @media (min-width: $desktop) {
    animation: appearFixed 1500ms ease-out forwards;
  }
}

// TODO: refactor, rename and combine.
.fixed-appear-full {
  @media (min-width: $desktop) {
    animation: appearFixedFull 1500ms ease-out forwards;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottomTimes2 {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes appearFixed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.08;
  }
}

@keyframes appearFixedFull {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
