@import "../styles/common.scss";
@import "./variables.scss";
@import "./mixins.scss";

.card {
  position: relative;
  align-items: end;
  width: 21.05644rem;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 300ms ease;

  @media (min-width: $tablet) and (max-width: $desktop) {
    width: 45.46656rem;
    height: 25.35206rem;
  }

  @media (min-width: $desktop) {
    width: 51rem;
    height: 34.5625rem;

    &:hover {
      transform: scale(0.99);

      .product-image {
        transform: scale(0.99);
      }

      .product-name {
        transform: scale(0.99);
      }

      .product-price {
        transform: scale(0.99);
      }
    }
  }

  &-description {
    width: 8.57156rem;
    height: 5.55344rem;
    color: #4b4b4b;
    margin: 0.43rem 1.13rem 0 0;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 300;

    @media (min-width: $desktop) {
      width: 20.9375rem;
      margin: 7.38rem 1.37rem 0 0;
      font-size: 1rem;
    }
  }
}

.product-price {
  color: #000;
  font-weight: 100;
  margin: 0.82rem 0.5rem 1rem 0;

  @media (min-width: $desktop) {
    margin: 1.16rem 2.62rem 2rem 0;
    font-size: 1.25rem;
    transition: 300ms ease;
  }
}

.product-name {
  color: #000;
  font-size: 1.25rem;
  font-weight: 100;
  margin: 2.21rem 0.5rem 0 0;

  @media (min-width: $desktop) {
    margin: 10.12rem 1.5rem 0 0;
    font-size: 2rem;
    transition: 300ms ease;
  }
}

.product-image {
  @include img-box;

  position: absolute;
  left: 0;
  bottom: -0.25rem;
  transition: 300ms ease;

  @media (max-width: $tablet) {
    width: 14.40594rem;
    height: 14.125rem;
  }
}
