@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.side-panel {
  z-index: 1200;
  position: fixed;
  top: 0;
  right: -24.375rem;
  bottom: 0;
  width: 24.375rem;
  height: 100%;
  background-image: url(../icons/sidePanel_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: right 0.3s ease-in-out;

  @media (min-width: $tablet) {
    background-image: url(../icons/sidePanel_bg-desktop.svg);
    width: 46.28125rem;
    right: -46.28125rem;
  }

  &-close-btn {
    position: absolute;
    top: 1.38rem;
    left: 4.69rem;
    background: none;
    border: none;
    width: 2.1875rem;
    height: 2.1875rem;
    cursor: pointer;

    @media (min-width: $tablet) {
      top: 3.19rem;
      left: 10.84rem;
      width: 2.4375rem;
      height: 2.4375rem;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &-icon {
    position: absolute;
    top: 1.13rem;
    right: 0.62rem;
    display: flex;

    @media (min-width: $tablet) {
      top: 2.81rem;
      right: 2.44rem;
    }

    span {
      align-self: flex-end;
      color: #000;
      font-size: 1.25rem;
      font-weight: 700;
    }

    &-image {
      @include img-box;

      width: 2.25rem;
      height: 2.25rem;

      @media (min-width: $tablet) {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &-amount {
    @include flex-v;

    margin-top: 19.19rem;
    gap: 1.44rem;
    align-items: flex-end;
    padding-right: 1.75rem;

    @media (min-width: $tablet) {
      gap: 1.56rem;
      margin-top: 14.44rem;
    }

    &-tax {
      display: flex;
      gap: 6.06rem;
      font-size: 1.25rem;

      @media (min-width: $tablet) {
        font-size: 1.5rem;

        span {
          &:first-child {
            color: #545454;
          }
        }
      }

      span {
        &:last-child {
          font-weight: 100;

          @media (min-width: $tablet) {
            color: #000;
          }
        }
      }
    }

    &-total {
      display: flex;
      gap: 2.94rem;
      font-size: 2.5rem;

      @media (min-width: $tablet) {
        span {
          &:first-child {
            color: #545454;
            font-size: 3rem;
          }
        }
      }

      span {
        &:last-child {
          font-size: 2.5rem;
          font-weight: 100;

          @media (min-width: $tablet) {
            color: #000;
            font-size: 2.5rem;
            align-self: flex-end;
          }
        }
      }
    }
  }

  &-btn-checkout {
    margin-top: 4.19rem;
    margin-left: 5rem;
    width: 16.125rem;
    height: 4rem;
    color: #fff;
    font-size: 1.25rem;
    border: none;
    border-radius: 1.25rem;
    background: linear-gradient(180deg, #1e1e1e 0%, #424242 100%);
    box-shadow: 0px 4px 4px 0px #00000040;

    @media (min-width: $tablet) {
      font-size: 2rem;
      width: 36.625rem;
      height: 8rem;
      margin-left: 6.09rem;
      border-radius: 2.88rem;
    }
  }
}

.show-panel {
  right: 0;
}
